$theme: (
  theme-slug: ms-starter,
  colors: (
    primary: #f40e67,
    secondary: #fccd11,
    tertiary: #ff9400,
    dark: #222222,
    light: #F9F9FF
  ),
  fonts: (
    small: 14,
    medium: 16,
    large: 20
  )
);